# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/dist

# misc
.DS_Store
.env*
!.env.example

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/database/hidden.ts
lib/api/hidden.ts

.vercel

/.history
public/static/images/flat_750x_075_f-pad_750x1000_f8f8f8_sh4wbg.jpgZone.Identifier
public/static/fonts/OpenDyslexic-Bold.otfZone.Identifier
public/static/fonts/OpenDyslexic-Regular.otfZone.Identifier
